{% extends "layout.html" %}
{% block body %}
<div class="container" style="margin-top:80px">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary btn-lg btn-block" style="margin-bottom:40px" href="/inventory/transaction">New Inventory Transaction</a>
            <div class="card">
                <div class="card-block">
                    <h3>Browse Inventory</h3>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary btn-lg" href="/inventory">By Quantity</a>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                By Location
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {% for location in inv_locations %}
                                <a class="dropdown-item" href="/inventory/loc/{{location.locationName}}">{{location.locationName}}</a>
                                {% endfor %}
                            </div>
                          </div>
                    </div>
                    <h3>Not currently available!</h3>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
