{% extends "layout.html" %}
{% block body %}
{% for part in part%}
<div class="container" style="margin-top:60px">
    <div class="row">
        <div class="col">
            <h1 style="margin-bottom:20px">{{ part.partNumber }} <small>- {{ part.description }}</small></h1>
            <ul>
                <li>Part Type Sub-Class 1: <strong>{{ part.partTypeSubClass1 }}</strong></li>
                <li>Part Type Sub-Class 2: <strong>{{ part.partTypeSubClass2 }}</strong></li>
                <li>Part Type Sub-Class 3: <strong>{{ part.partTypeSubClass3 }}</strong></li>
                <li>Part Status: <strong>{{ part.statusDescription }}</strong></li>
                <li>Part Unit: <strong>{{ part.unitDescription }}</strong></li>
                {% if part.standardPurchasePrice %}
                <li>Standard Purchase Price: <strong>{{ "${:,.4f}".format(part.standardPurchasePrice) }}</strong></li>
                {% else %}
                <li>Standard Purchase Price: <strong>Not set</strong></li>
                {% endif %}
                {% if part.standardSellPrice == None %}
                <li>Standard Sell Price: <strong>Not set</strong></li>
                {% else %}
                <li>Standard Sell Price: <strong>{{ "${:,.2f}".format(part.standardSellPrice) }}</strong></li>
                {% endif %}
            </ul>
            <div class="btn-group" role="group" style="margin-bottom:20px">
                <a class="btn btn-outline-primary btn-lg" href="/bom/{{ part.partNumber}}">BOM</a>
                <a class="btn btn-outline-primary btn-lg" href="/parts/{{part.partNumber}}/update">Update</a>
                <a class="btn btn-outline-primary btn-lg" href="/inventory/{{part.partNumber}}">Inventory</a>
                <a class="btn btn-outline-primary btn-lg" href="/inventory/transaction">New Transaction</a>
                <a class="btn btn-outline-primary btn-lg" href="/parts/{{part.partNumber}}">Delete</a>
            </div>
        </div>
    </div>
    <h2>Sources</h2>
    <div class="card" style="margin-bottom:50px">
        <div class="card-block">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;">Supplier</th>
                        <th style="text-align:center;">Supplier Part Number</th>
                        <th style="text-align:center;">MOQ</th>
                        <th style="text-align:center;">Unit Price</th>
                        <th style="text-align:center;">Extended Price</th>
                        <th style="text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier_part in supplier_parts %}
                    <tr>
                        <td style="text-align:center;"><a class="btn btn-outline-primary btn-sm btn-block"  href="/suppliers/{{supplier_part.supplierid}}">{{supplier_part.supplierName}}</a></td>
                        <td style="text-align:center;"><a class="btn btn-outline-primary btn-sm btn-block" href="{{supplier_part.supplierLink}}" target="_blank">{{supplier_part.supplierPartNumber}}</a></td>
                        <td style="text-align:center;">{{ supplier_part.purchaseMOQ }}</td>
                        <td style="text-align:center;">{{ "${:,.4f}".format(supplier_part.purchaseUnitPrice) }}</td>
                        <td style="text-align:center;">{{ "${:,.2f}".format(supplier_part.purchaseUnitPrice*supplier_part.purchaseMOQ) }}</td>
                        {% if supplier_part.standardPartPrice == 1 %}
                            <td style="text-align:center;">Standard Price</td>
                        {% else %}
                            <td style="text-align:center;"><a class="btn btn-outline-primary btn-sm btn-block" href="/update_standard_purchase_price/{{ part.partNumber }}/{{ supplier_part.purchaseMOQ|round|int }}/{{ supplier_part.supplierPartNumber }}">Set Standard Purchase Price</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-outline-primary btn-lg btn-block" href="/parts/{{ part.partNumber }}/addsource">Add</a>
        </div>
    </div>
    <h2>Where Used</h2>
    <div class="card" style="margin-bottom:50px">
        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    {% for parent in parents%}
                    <tr>
                        <td><a class="btn btn-outline-primary btn-sm btn-block" href="/parts/{{parent.parent}}">{{ parent.parent }}</a></td>
                        <td>{{ parent.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
