{% extends "layout.html" %}
{% block body %}
<div class="col" style="margin-top:80px"/>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h3>Speaker</h3>
                <a class="btn btn-outline-primary btn btn-block" href="/test/speaker/new">New</a>
                <a class="btn btn-outline-primary btn btn-block" href="/test/speaker/review">Review</a>
            </div>
            <div>
                <h3>Amplifier</h3>
                <a class="btn btn-outline-primary btn btn-block" href="/test/amp/new">New</a>
                <a class="btn btn-outline-primary btn btn-block" href="/test/amp/review">Review</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}